<div class="footer-basic">
    <footer>
        <ul class="list-inline">
            <li class="list-inline-item"><a href="#"> {{ 'Bandeau.home' | trans }} </a></li>
            <li class="list-inline-item"><a href="#"> {{ 'Footer.service' | trans }} </a></li>
            <li class="list-inline-item"><a href="#"> {{ 'Footer.contact' | trans }} </a></li>
            <li class="list-inline-item"><a href="#"> {{ 'Footer.cgu' | trans }} </a></li>
        </ul>
        <p class="copyright">{{ 'Name.societe' | trans }} © 2023</p>
    </footer>
</div>
